################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ActiveDirectorySearch/.vs
/ActiveDirectorySearch/ActiveDirectorySearch/bin
/ActiveDirectorySearch/ActiveDirectorySearch/obj
/ActiveDirectorySearch/ActiveDirectorySearch/ActiveDirectorySearch.csproj.user
/ActiveDirectorySearch/packages
